.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  background-color: #343434;
  color: #fff;
}

h2 {
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

a {
  text-decoration: underline;
}

.navbar {
  background-color: transparent;
}

.container {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nav-link-2 {
  font-family: Derotterdamdemo, sans-serif;
  color: #fff;
}

.headred {
  margin-bottom: 40px;
  font-family: Derotterdamdemo, sans-serif;
  color: #b21533;
  font-size: 38px;
  font-weight: 400;
  text-align: center;
}

.headred.header-small {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 38px;
}

.parmaincenter {
  margin-right: 10%;
  margin-left: 10%;
  font-family: Corbel, sans-serif;
  line-height: 28px;
  font-style: normal;
  text-align: center;
  text-decoration: none;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  margin-top: 130px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 28px;
  -o-object-fit: fill;
  object-fit: fill;
}

.image-4 {
  max-width: 80%;
  margin-top: 16px;
  margin-bottom: 13px;
  text-align: center;
}

.divblockmain {
  text-align: center;
}

.image-6 {
  max-height: 55vh;
  max-width: 90%;
  min-height: 55vh;
  min-width: 60vh;
}

.image-7 {
  max-width: 80%;
}

.image-9 {
  max-width: 80%;
}

.headingsmall {
  font-family: Stark, sans-serif;
  color: #b21533;
  font-weight: 400;
}

.image-10 {
  max-height: 55vh;
  max-width: 90%;
  min-height: 55vh;
}

.div-block-5 {
  text-align: center;
}

.grid-2 {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.image-15 {
  max-width: 80%;
  margin-top: 0px;
  margin-bottom: 10px;
}

.parbig {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: Corbel, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 28px;
  text-align: left;
}

.nav-link-3 {
  font-family: Derotterdamdemo, sans-serif;
  color: #fff;
  font-size: 16px;
}

.cont {
  margin-top: 20vh;
  margin-bottom: 20vh;
}

.image-13 {
  max-height: 70vh;
  min-height: 70vh;
}

.heading-2 {
  position: static;
  font-family: Stark, sans-serif;
  color: #c2c2c2;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
}

.heading-3 {
  margin-top: 0px;
  color: #b21533;
  font-size: 60px;
}

.div-block-8 {
  text-align: center;
}

.accordion-item-trigger {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.accordion-item {
  margin-bottom: 20px;
  padding: 24px 30px 14px;
  border-radius: 10px;
  background-color: #656667;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.03);
}

.content-wrapper {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.content-wrapper.slim {
  max-width: 940px;
}

.content-wrapper.slim.cont {
  margin-bottom: 10vh;
}

.accordion-wrapper {
  margin-top: 0px;
}

.header-center-box {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.header-center-box._75 {
  width: 75%;
}

.accordion-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-family: Stark, sans-serif;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.accordion-item-content {
  overflow: hidden;
  margin-top: 10px;
  margin-right: 30px;
  font-family: 'Droid Serif', serif;
  line-height: 28px;
  font-weight: 400;
  text-align: left;
}

.icon2.accordion-icon {
  font-family: Materialicons, sans-serif;
  color: #c2c2c2;
  font-size: 32px;
  line-height: 30px;
  cursor: pointer;
}

.paragraph {
  color: #c2c2c2;
}

.bold-text {
  font-family: Stark, sans-serif;
}

.image-16 {
  max-width: 82%;
  margin-top: -6px;
  margin-bottom: -6px;
  padding-left: 0px;
}

.section-6 {
  padding-bottom: 20px;
}

.container-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.text-block {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-family: Derotterdamdemo, sans-serif;
  color: #b21533;
  font-size: 24px;
}

.column-2 {
  text-align: center;
}

.linknetwork {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 40px;
  margin-left: 10px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-family: Derotterdamdemo, sans-serif;
  color: #c2c2c2;
  line-height: 2px;
  text-align: right;
  text-decoration: none;
}

.linknetwork.notworking {
  color: #746d6d;
}

.navlink {
  font-family: Derotterdamdemo, sans-serif;
  color: #fffefe;
  font-size: 16px;
}

.navlink.w--current {
  color: #fff;
}

.column-3 {
  padding-bottom: 20px;
}

.bold-text-2 {
  font-family: Stark, sans-serif;
}

.bold-text-3 {
  font-family: Stark, sans-serif;
}

.headred-copy {
  margin-top: 5px;
  font-family: Stark, sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.image-17 {
  min-height: 30px;
}

.image-18 {
  max-height: 55vh;
  max-width: 90%;
  min-height: 55vh;
  text-align: center;
}

.div-block-9 {
  text-align: center;
}

.headred-copy {
  margin-bottom: 40px;
  font-family: Derotterdamdemo, sans-serif;
  color: #b21533;
  font-size: 38px;
  font-weight: 400;
  text-align: center;
}

.headred-copy-copy {
  font-family: Derotterdamdemo, sans-serif;
  color: #b21533;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}

.headred-copy-copy-copy {
  margin-top: 5px;
  margin-bottom: 0px;
  font-family: Stark, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left;
}

.container-5 {
  text-align: left;
}

.navbar-2 {
  background-color: #343434;
  color: #343434;
  text-align: left;
}

.nav-link-4 {
  font-family: Derotterdamdemo, sans-serif;
  color: #fff;
  text-align: left;
}

.nav-link-5 {
  font-family: Derotterdamdemo, sans-serif;
  color: #fff;
}

.nav-link-6 {
  font-family: Derotterdamdemo, sans-serif;
  color: #fff;
}

.navbar-3 {
  background-color: transparent;
}

.nav-link {
  font-family: Derotterdamdemo, sans-serif;
  color: #fff;
}

.nav-link:hover {
  color: #b21533;
}

.nav-link-8 {
  font-family: Derotterdamdemo, sans-serif;
  color: #fff;
}

.nav-link-8:hover {
  color: #b21533;
}

.nav-link-9 {
  font-family: Derotterdamdemo, sans-serif;
  color: #fff;
}

.nav-link-9:hover {
  color: #b21533;
}

.button-2 {
  display: inline-block;
  margin-top: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  border-color: #c90c0e;
  border-radius: 0px;
  background-color: rgba(242, 186, 1, 0);
  box-shadow: 0 0 0 0 #000, 0 0 16px -4px #000;
  color: #000;
  line-height: 28px;
  text-align: center;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.button-3 {
  margin-top: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  background-color: #343434;
  box-shadow: 0 0 18px 0 #000;
  text-align: center;
}

.div-block-10 {
  margin-top: -20px;
  text-align: center;
}

.image-20 {
  border-style: solid;
  border-width: 0px;
  border-color: #000;
  color: #fff;
}

.image-21 {
  max-height: 30px;
  max-width: 100%;
  min-height: 5px;
}

.column-4 {
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
}

.pict {
  text-align: center;
}

.column-5 {
  text-align: center;
}

.column-6 {
  text-align: center;
}

.column-7 {
  text-align: center;
}

.image-22 {
  padding-left: 0px;
}

.pict-copy {
  max-height: 35px;
  margin-right: 0vh;
  text-align: center;
}

.inactive-link-block {
  cursor: default;
}

.logo-section {
  margin-top: 40px;
  margin-bottom: 40px;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-11 {
  display: inline-block;
  margin-top: 20px;
  padding: 5px;
  border: 1px solid #fff;
  box-shadow: 0 0 18px 0 #000;
}

.paragraph-2 {
  margin-bottom: auto;
  font-family: Stark, sans-serif;
}

.link {
  color: #811619;
}

.div-block-12 {
  text-align: center;
}

.div-block-13 {
  margin-top: 20px;
  text-align: center;
}

.parwide {
  font-family: Corbel, sans-serif;
}

@media screen and (max-width: 991px) {
  .container {
    margin-top: 0vw;
  }

  .div-block {
    margin-top: 70px;
  }

  .image-6 {
    min-height: 30vh;
    min-width: 30vh;
  }

  .grid-2 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .icon {
    color: #aeaeae;
  }

  .accordion-wrapper {
    margin-right: 20px;
    margin-left: 20px;
  }

  .section-6 {
    background-color: #333;
  }

  .navbar-3 {
    color: #f8f8f8;
  }
}

@media screen and (max-width: 767px) {
  .container {
    min-height: 0%;
  }

  .headred {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 32px;
  }

  .headred.header-small {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 32px;
  }

  .div-block {
    margin-top: 5%;
  }

  .image-4 {
    max-height: none;
    max-width: 60vw;
  }

  .image-7 {
    max-height: none;
    max-width: 60vw;
  }

  .image-9 {
    max-width: 60vw;
  }

  .image-10 {
    max-height: none;
    max-width: 60vw;
    min-height: auto;
  }

  .grid-2 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .image-15 {
    max-width: 60vw;
  }

  .parbig {
    margin-top: 2%;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
  }

  .cont {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .icon {
    color: #bcbcbc;
  }

  .image-13 {
    max-height: 50vh;
    min-height: 50vh;
  }

  .heading-2 {
    font-size: 30px;
  }

  .accordion-item-content {
    margin-right: 0px;
  }

  .image-16 {
    max-width: 60vw;
  }

  .text-block {
    display: inline-block;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #b21533;
    font-size: 20px;
    text-align: left;
  }

  .column-2 {
    text-align: center;
  }

  .linknetwork {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 28px;
    text-align: center;
  }

  .column-3 {
    padding-bottom: 10px;
  }

  .headred-copy {
    font-size: 38px;
  }

  .cont-copy {
    margin-top: auto;
    margin-bottom: 10px;
  }

  .image-18 {
    max-width: 60vw;
    min-height: 0vh;
    margin-top: -35px;
    text-align: center;
  }

  .headred-copy {
    font-size: 38px;
  }

  .headred-copy-copy {
    margin-top: 40px;
    font-size: 32px;
  }

  .headred-copy-copy-copy {
    margin-top: 0px;
    margin-bottom: auto;
    font-size: 16px;
  }

  .image-19 {
    max-width: 100%;
  }

  .button-2 {
    margin-top: 10px;
  }

  .button-3 {
    margin-bottom: 40px;
  }

  .icon-2 {
    color: #acadb0;
  }

  .image-24 {
    margin-top: -83px;
  }

  .parwide {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 479px) {
  .container {
    margin-top: auto;
  }

  .headred {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 25px;
  }

  .headred.header-small {
    font-size: 25px;
  }

  .parmaincenter {
    margin-right: 0%;
    margin-left: 0%;
  }

  .image-6 {
    margin-top: 0px;
  }

  .grid-2 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .parbig {
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
  }

  .cont {
    margin-bottom: 0px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .image-13 {
    max-height: 30vh;
    min-height: 30vh;
    margin-top: 0vh;
  }

  .heading-2 {
    display: block;
    margin-top: -5px;
    font-size: 18px;
  }

  .heading-3 {
    font-size: 40px;
  }

  .div-block-8 {
    margin-top: 0px;
    margin-bottom: auto;
    padding-right: 20px;
    padding-left: 20px;
  }

  .accordion-item {
    padding-right: 0px;
    padding-left: 0px;
  }

  .accordion-wrapper {
    margin-right: auto;
    margin-left: auto;
  }

  .header-center-box._75 {
    width: 90%;
  }

  .accordion-heading {
    padding-right: 0px;
    padding-left: 10px;
  }

  .linknetwork {
    line-height: 28px;
  }

  .headred-copy {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 28px;
  }

  .image-18 {
    margin-top: -41px;
  }

  .headred-copy {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 28px;
  }

  .headred-copy-copy {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 25px;
  }

  .headred-copy-copy-copy {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .button-3 {
    margin-bottom: 20px;
  }

  .pict {
    max-width: 35px;
  }

  .pict-copy {
    max-height: 30px;
  }

  .image-23 {
    max-height: 30px;
  }

  .columns {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }

  .image-24 {
    margin-top: -73px;
  }
}

@font-face {
  font-family: 'Corbel';
  src: url('../fonts/CORBEL.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Stark';
  src: url('../fonts/Stark.OTF') format('opentype'), url('../fonts/Stark.OTF') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Materialicons';
  src: url('../fonts/MaterialIcons-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Derotterdamdemo';
  src: url('../fonts/DeRotterdamDemo-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}